.nav-link {
  cursor: pointer
}
.page-change-full {
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100vh;
}
.page-change-inner {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.page-change-spinner {
	width: 6rem;
	height: 6rem;
	border-width: 0.3rem;
}
.nltobr {
	white-space: pre-line
}